body {
  font-size: 1.5rem;
  color: #eee;
  font-family: "Quantico", sans-serif;
  margin: 0;
  padding: 100px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;

  background: linear-gradient(180deg, #111 0%, #111 40%, #ad2648 100%);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;

  border: 2px solid #ccc;
  min-height: 100vh;
  box-sizing: border-box;
}

@keyframes gradientShift {
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 50% 0%; }
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 20px;
  margin: 20px auto;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.dashboard,
.sidebar {
  width: 300px;
  background-color: #2a2a2a;
  border: 2px solid #ccc;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.stats {
  margin-top: 15px;
  flex-grow: 1;
}

.user-dashboard-btn,
.logout {
   font-size: 2rem;
}
.logout:hover {
  background: #3fbf7f;
  border-color: #3fbf7f;
}

/* Center main */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
}

.main-title {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3fbf7f;
}

.menu {
	display: flex;
	flex-direction: column;
}

button {
  font-family: "Quantico", sans-serif;
  margin: 10px;
  padding: 10px 30px;
  font-size: 3rem;
  border: 2px solid #ccc;
  background: #333;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;
}

.menu button:hover {
  background: #3fbf7f;
  border-color: #3fbf7f;
  color: #fff;
}

.tooltip {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #bbb;
  min-height: 40px;
}

.notifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #333;
}

.notif-icon {
  position: relative;
}

.notif-dot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
}

.friends {
  margin-top: 15px;
  flex-grow: 1;
}

.friends p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.user-dashboard-btn:hover {
  background: #3fbf7f;
  border-color: #3fbf7f;
  color: #fff;
}
